*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
.wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: sans-serif;
    background-color: #f9fbfd;
    justify-content: center;
    /*text-align: center; */
}

.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    text-align: right;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
}

main {
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

main h1 {
    font-size: 45px;
    text-align: center;
    padding-bottom: 50px;
}


#startBtn { 
    margin-top: 10%;
    padding-top: 1%;
    padding-right: 3%;
    padding-bottom: 1%;
    padding-left: 3%;
}

.container {
    min-width: 300px;
    max-width: 600px;
    margin-left: 10%;
    padding-top: 10%;
    text-align: left;
    line-height: 1.5;
}

#answer-btns {
    display: grid;
    text-align: left;
    max-width: 10em;
    padding: 10px;
    margin: 20px 0 0 50px;
    
}

.btn {
    margin: 3px;
    border-color: black;
    border-radius: 30px;
    padding:10px
}

.btn:hover {
    background-color:tan;

}

#question {
    font-size: 20px;
    line-height: 1.25;
    min-width: 300px;
    max-width: 600px;
    text-align: left;

}

.hide {
    display: none;
}
